*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: rgb(192, 222, 248);
    width: 100vw;
    max-width: 500px;
    height: auto;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
input{
    outline: none;
    
}
